$I3CONFIG
#
# When changing this information, be sure you don't remove the tildes!
# Set autoconnect to 1 to automatically connect at bootup.
# This information can be edited online using 'i3 config'
autoconnect 0
thismud     Another SunderMud~
telnet      Your Telnet Address Here~
web         Your Web Address Here~
adminemail  Your Admin Email Here~
openstatus  Your Online Status~

# Please do not change mudtype or basemudlib unless you've *really*
# made major improvements. For your own versions, change "mudlib".
mudtype     SunderMud~
basemudlib  SunderMud 2.1a~
mudlib      SunderMud 2.1a~
minlevel    3
immlevel    102
adminlevel  107
implevel    110

# Router connections. Your primary choice should be listed first.
# Chances are we'll all end up moving to arthmoor, but gjs is the current
# server of choice for most muds.
router *gjs us-1.i3.intermud.org 9000
router *arthmoor i3.arthmoor.com 9900

# The services provided by your mud.
# Do not turn things on unless you KNOW your mud properly supports them!
# Refer to http://www.intermud.org for public packet specifications.
tell         1
beep         1
emoteto      1
who          1
finger       1
locate       1
channel      1
news         0
mail         0
file         0
auth         0
ucache       1
#
# Port numbers for OOB services. Leave as 0 if your mud does not support these.
smtp         0
ftp          0
nntp         0
http         0
pop3         0
rcp          0
amrcp        0
end
$END
